.section {
  background-color: #FBFAF9;
  padding: 5rem 0;
}

.section__title {
  max-width: 75%;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.7em;
  font-size: 2rem;
}

.section__subtitle {
  color: #BBB;
  max-width: 75%;
  margin: 0 auto 2em auto;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 1.2rem;
}

.section--dark {
  background-color: #323231;
  color: #FBFAF9;
  font-weight: 300;
}

.section--hightlight {
  background-color: #1DCA7F;
  color: #FBFAF9;
  font-weight: 300;
}

.section--hightlight .section__subtitle {
  color: #323231;
}