.section {
  background-color: var(--white);
  padding: 5rem 0;
  color: var(--dark);
}

.section__title {
  max-width: 75%;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.7em;
  font-size: 2rem;
}

.section__subtitle {
  color: #545454;
  max-width: 75%;
  margin: 0 auto 2em auto;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 1.2rem;
}

.section--dark {
  background-color: var(--dark);
  color: var(--white);
  font-weight: 300;
}

.section--highlight {
  background-color: var(--highlight);
  color: var(--white);
  font-weight: 300;

  & .section__subtitle {
    color: var(--dark);
  }
}
