.section {
  background-color: #fff;
  padding: 4rem 0;
}

.section--hightlight {
  background-color: #00bdbd;
  color: #fff;
}

.section__title {
  text-align: center;
  font-weight: 400;
  margin: 0;
  line-height: 1.7em;
  font-size: 1.8rem;
}

.section__subtitle {
  text-align: center;
  font-weight: 300;
  margin: 0;
  line-height: 1.3em;
}