.footer {
  background-color: #2e2e2e;
  padding: 2rem 0;
  font-size: 0.8rem;
  color: #999999;

  & .footer__content {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;

    & span {
      margin: 0 auto 0 0;
    }

    & a {
      color: #999999;
      text-decoration: none;

      &:hover {
        color: var(--highlight);
      }
    }
  }
}