.menu {
  position: fixed;
  background: #222220;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0 2em;
  right: 0;
  left: 0;
  border-bottom: 1px solid #2e2e2e;

  & ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  & li {
    list-style: none;
    margin: 1em 2em 1em 0;
  }

  & a {
    text-decoration: none;
    color: #BBB;
    transition: 200ms all;

    &:hover {
      color: #1DCA7F;
    }

    &.active {
      color: #FBFAF9;
    }
  }
}