.menu {
  position: fixed;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 1em 2em;
  right: 0;
}

.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
  margin: 1em 2em 1em 0;
}

.menu a {
  text-decoration: none;
  color: #BBB;
}

.menu a:hover {
  color: #1DCA7F;
}

.menu a.active {
  color: #FBFAF9;
}